/*Cleaning the standard formatting*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #ecebeb !important;
}

.upperContainer {
  text-align: center;
  background-color: rgb(253, 208, 6);
  padding: 10px;
  margin-bottom: 10px;
}

.menuArea {
  padding: 10px;
  color: white;
  font-weight: bold;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tech {
  color: rgb(255, 255, 255);
}

.blog {
  font-weight: bold;
}

.menuArea:hover {
  color: rgb(253, 208, 6);
  background-color: white;
  text-decoration: none;
}

.middleContainer {
  width: 920px;
  margin: 0 auto;
}

.content,
.side-content {
  background-color: white;
}

.content {
    float: left;
    width: 660px;
}

.side-content {
    float: right;
    width: 240px;
}

.footnote{
    clear: both;
    background-color: green;
    text-align: center;
    background: #CCC;
    padding: 15px;
}